/* --Глобальные стили-- */
*, *::before, *::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;

   font-family: "Gilroy_ExtraBold", "Arial", sans-serif;

   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   color: #000;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
}

.button {
   padding: 0;

   font: inherit;

   text-align: center;
   vertical-align: middle;
   color: #000;
   text-transform: uppercase;
   letter-spacing: 5px;

   border: none;
}

.container {
   max-width: 1200px;
   width: 100%;
   padding: 0 20px;
   margin: 0 auto;
}

/* --Стили помошники-- */
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

/* ----- */

/* --Главная страница-- */

/* -Шапка- */
.header {
   margin-top: 40px;
}

.header__inner {
   max-width: 1040px;
   width: 100%;
   margin: 0 auto;
}

/* Поиск и личный кабинет */
.header__top-row {
   display: flex;
   justify-content: space-between;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Поиск */
.header__search-form input[name="search"] {
   font: inherit;
}

/* Личный кабинет */
.header__user {
   display: flex;
   max-width: 500px;
   width: 100%;
   padding: 0;
   margin: 0;

   list-style: none;
}

.header__user-item:first-child {
   margin-left: 27px;
   margin-right: auto;
}

.header__user-item:last-child {
   margin-left: 65px;
}

.header__user-button {
   padding: 0;

   font: inherit;

   border: none;
   background-color: transparent;
}

/* Навигация */
.header__navigation {
   display: flex;
   justify-content: space-between;

   text-transform: uppercase;
}

/* Меню */
.header__navigation-menu-btn {
   padding: 0;

   font: inherit;
   letter-spacing: 5px;
   text-transform: uppercase;

   color: #000;
   border: none;
   background-color: transparent;
}

/* Список навигации */
.header__navigation-list {
   display: flex;
   max-width: 500px;
   width: 100%;
   padding: 0;
   margin: 0;

   list-style: none;
}

.header__navigation-list li + li {
   margin-left: 33px;
   margin-right: -5px;
}

.header__navigation-list li:last-child {
   margin-left: auto;
}

.header__navigation-link {
   font: inherit;
   letter-spacing: 5px;

   color: #000;
}

/* -Основной контент- */

/* Товар */

/* Описание товара */
.product__title {
   font-size: 47px;
   line-height: 56px;
}

.product__desc {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Слайдер */

/* Характеристики товара */
.product__table {
   padding: 0;

   list-style: none;
}

.product__table-stat {
   font-family: "Gilroy_Light", "Arial", sans-serif;

   font-size: 36px;
   line-height: 48px;
   font-weight: 300;
}

.product__table-type {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 13px;
   line-height: 20px;
   font-weight: 300;
}

/* Навигация по товарам */
.product-type__menu {
   padding: 0;

   list-style: none;
}

.product-type__img {
   background-color: #f7e296;
}

.product-type__title {
   font: inherit;

   color: #000;
}

/* Услуги */

/* Слайдер */
.services__slider {
   padding: 0;

   list-style: none;
}

.services__slider-btn {
   background-color: transparent;
}

/* Инфо */
.services__content-title {
   font-size: 47px;
   line-height: 48px;
}

.services__content-text {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Производители */
.manufacturers__list {
   padding: 0;

   list-style: none;
}

/* Информация о нас */
.about-us h3 {
   font-size: 47px;
   line-height: 48px;
}

.about-us p {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* О нас */
.about__delivery {
   padding: 0;

   font-size: 16px;
   line-height: 40px;

   list-style: none;
}

.about__delivery-link {
   color: #000;
}

/* Контакты */
.about-us__contacts-btn {
   background-color: transparent;
}

/* -Подвал- */
.footer {
   color: #fff;

   background-color: #464646;
}

/* Логотип и адрес компании */
.footer__address {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Услуги */
.footer__services {
   padding: 0;

   list-style: none;
}

.footer__services-link {
   font: inherit;

   letter-spacing: 4px;
   color: #fff;
   text-transform: uppercase;
}

/* Социальные сети */
.footer__socials {
   padding: 0;

   list-style: none;
}

/* Личный кабинет и телефон компании */
.footer__right-col {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

.footer__user {
   padding: 0;

   list-style: none;
}

.footer__user-btn {
   font: inherit;

   color: #fff;

   border: none;
   background-color: transparent;
}

.footer__tel {
   color: #fff;
}

/* --Страница каталога-- */

/* -Основной контент- */

/* Хлебные крошки */
.catalog-nav__title {
   font-size: 47px;
   line-height: 48px;
}

.catalog-nav__list {
   padding: 0;

   list-style: none;
}

.catalog-nav__link {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 24px;
   font-weight: 300;
   color: rgba(0, 0, 0, 0.4);
}

/* Каталог товаров */
.catalog__filter-title {
   font-size: 16px;
   letter-spacing: 3px;
   text-transform: uppercase;
}

/* Фильтр каталого */
.catalog__form fieldset {
   border: none;
}

.catalog__form-color-menu {
   padding: 0;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 40px;
   font-weight: 300;

   list-style: none;
}

.catalog__form-bluetooth-menu {
   padding: 0;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 40px;
   font-weight: 300;

   list-style: none;
}

.catalog__form-btn {
   background-color: transparent;
}

/* Сортировка и товары */

/* Сортировка */
.catalog__sort-title {
   font-size: 16px;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.catalog__sort-list {
   padding: 0;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 18px;
   font-weight: 400;

   list-style: none;
}

.catalog__sort-btn {
   color: rgba(0, 0, 0, 0.4);

   border: none;
   background-color: transparent;
}

.catalog__sort-btn--active {
   color: #000;
}

/* Товары */

/* Список товаров */
.catalog__products-list {
   padding: 0;

   list-style: none;
}

.catalog__products-link {
   color: #000;
}

.catalog__products-price {
   font-family: "Gilroy_Light", "Arial", sans-serif;

   font-size: 16px;
   line-height: 24px;
   font-weight: 300;
   color: rgba(0, 0, 0, 0.4);
}

/* Пагинатор */
.catalog__paginator {
   background-color: #ebebeb;
}

.catalog__paginator button {
   font: inherit;

   font-size: 16px;
   letter-spacing: 3px;
   text-transform: uppercase;

   border: none;
   background-color: transparent;
}

.catalog__paginator-list {
   padding: 0;

   list-style: none;
}

/* -Модальные окна- */

/* Письмо */
.modal-message {
   background-color: #fff;
}

.modal-message__col input[type="text"],
.modal-message__col textarea {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 18px;
   font-weight: 400;

   border: none;
   background-color: #f2f2f2;
}

.modal-message__submit {
   background-color: transparent;
}