/* --Глобальные стили-- */
*, *::before, *::after {
   box-sizing: inherit;
}

html {
   box-sizing: border-box;
}

body {
   margin: 0;
   padding: 0;

   font-family: "Gilroy_ExtraBold", "Arial", sans-serif;

   font-size: 18px;
   line-height: 24px;
   font-weight: 700;
   color: #000;
}

img {
   max-width: 100%;
}

a {
   text-decoration: none;
}

.button {
   padding: 0;

   font: inherit;

   text-align: center;
   vertical-align: middle;
   color: #000;
   text-transform: uppercase;
   letter-spacing: 4px;

   border: none;
}

.container {
   max-width: 1200px;
   width: 100%;
   padding: 0 20px;
   margin: 0 auto;
}

/* --Стили помошники-- */
.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

.block-hidden {
   display: none;
}

.block-show {
   display: block;
}

/* ----- */

/* --Главная страница-- */

/* -Шапка- */
.header {
   margin-top: 40px;
}

.header__inner {
   position: relative;

   max-width: 1160px;
   width: 100%;
   margin: 0 auto;
   padding: 40px 60px 50px 60px;

   background-color: #f7e296;
   box-shadow: 0 113px 0 0 #f7e296;
}

/* Логотип */
.header__logo {
   position: absolute;
   left: 60px;
   top: -17px;
}

/* Поиск и личный кабинет */
.header__top-row {
   display: flex;
   justify-content: space-between;
   margin-bottom: 50px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Поиск */
.header__search-form input[name="search"] {
   font: inherit;
}

/* Личный кабинет */
.header__user {
   display: flex;
   max-width: 500px;
   width: 100%;
   padding: 0;
   margin: 0;

   list-style: none;
}

.header__user-item:first-child {
   margin-left: 27px;
   margin-right: auto;
}

.header__user-item:last-child {
   margin-left: 65px;
}

.header__user-button {
   padding: 0;

   font: inherit;

   border: none;
   background-color: transparent;
}

/* Навигация */
.header__navigation {
   display: flex;
   justify-content: space-between;

   text-transform: uppercase;
}

/* Меню */
.header__navigation-menu-btn {
   padding: 0;

   font: inherit;
   letter-spacing: 4px;
   text-transform: uppercase;

   color: #000;
   border: none;
   background-color: transparent;
}

/* Список навигации */
.header__navigation-list {
   display: flex;
   max-width: 500px;
   width: 100%;
   padding: 0;
   margin: 0;

   list-style: none;
}

.header__navigation-list li + li {
   margin-left: 33px;
   margin-right: -5px;
}

.header__navigation-list li:last-child {
   margin-left: auto;
}

.header__navigation-link {
   font: inherit;
   letter-spacing: 4px;

   color: #000;
}

/* -Основной контент- */

/* Товар */
.product__wrap {
   max-width: 1040px;
   width: 100%;
   margin: 0 auto;
}

.product {
   display: flex;
   justify-content: space-between;
}

/* Фото товара */
.product__image {
   max-width: 440px;
   width: 100%;
   padding: 0 25px;

   z-index: 100;
}

/* Описание товара */
.product__info {
   max-width: 500px;
   width: 100%;
   padding-right: 20px;
   z-index: 100;
}
.product__title {
   margin: 0;
   margin-top: 80px;

   font-size: 47px;
   line-height: 56px;
}

.product__desc {
   margin: 0;
   margin-top: 25px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

.product__info-row {
   display: flex;
   justify-content: space-between;
   margin-top: 45px;
}

/* Слайдер */
.product__slider-list {
   display: flex;
   justify-content: space-between;   
   margin: 0;
   padding: 0;

   list-style: none;
}

.product-slider__link {
   max-width: 220px;
   width: 100%;
}

/* Характеристики товара */
.product__table {
   display: flex;
   justify-content: space-between;
   margin: 0;
   margin-top: 60px;
   padding: 0;

   list-style: none;
}

.product__table-col span {
   display: block;
}

.product__table-stat {
   font-family: "Gilroy_Light", "Arial", sans-serif;

   font-size: 36px;
   line-height: 48px;
   font-weight: 300;
}

.product__table-type {
   margin-top: 8px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 13px;
   line-height: 20px;
   font-weight: 300;
}

/* Навигация по товарам */
.product-type__wrap {
   margin-top: 100px;
}
.product-type__menu {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;

   list-style: none;
}

.product-type__img {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 160px;
   height: 160px;

   background-color: #f7e296;
}

.product-type__title {
   width: 160px;
   margin: 0;
   margin-top: 30px;

   font: inherit;

   color: #000;
}

/* Услуги */
.services-wrap {
   margin-top: 80px;
}
.services {
   display: flex;
   justify-content: space-between;
   padding: 73px 0;
}

/* Слайдер */
.services__slider {
   max-width: 280px;
   width: 100%;
   margin: 0;
   padding: 0;

   list-style: none;
}

.services__slider li + li {
   margin-top: 40px;
}

.services__slider-btn {
   max-width: 160px;
   width: 100%;

   background-color: transparent;
}

/* Инфо */
.services__content {
   max-width: 760px;
   width: 100%;
}
.services__content-title {
   margin: 0;

   font-size: 47px;
   line-height: 48px;
}

.services__content-text {
   margin: 0;
   margin-top: 35px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Производители */
.manufacturers__wrap {
   margin-top: 170px;
}
.manufacturers__list {
   display: flex;
   justify-content: space-between;
   margin: 0;
   padding: 0;

   list-style: none;
}

/* Информация о нас */
.about-us__wrap {
   margin-top: 90px;
}
.about-us {
   display: flex;
   justify-content: space-between;
   padding: 55px 0 90px 0;
}

.about-us h3 {
   margin: 0;

   font-size: 47px;
   line-height: 48px;
}

.about-us p {
   margin: 0;
   margin-top: 40px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* О нас */
.about-us__desc {
   max-width: 500px;
   width: 100%;
}
.about__delivery {
   margin: 0;
   margin-top: 62px;
   padding: 0;

   font-size: 16px;
   line-height: 40px;

   list-style: none;
}

.about__delivery-item {
   padding-left: 35px;
}

.about__delivery-link {
   color: #000;
}

.about-us__btn {
   display: block;
   max-width: 260px;
   width: 100%;
   margin-top: 57px;

   background-color: transparent;
}

/* Контакты */
.about-us__contacts {
   max-width: 560px;
   width: 100%;
}
.about-us__contacts-map {
   margin-top: 45px;
}
.about-us__contacts-btn {
   max-width: 260px;
   width: 100%;
   margin-top: 65px;

   background-color: transparent;
}

/* -Подвал- */
.footer {
   color: #fff;

   background-color: #464646;
}

.footer__inner {
   display: flex;
   justify-content: space-between;
   padding: 65px 0;
}

.footer__left-col {
   max-width: 325px;
   width: 100%;
}

.footer__middle-col {
   max-width: 440px;
   width: 100%;
}

.footer__right-col {
   display: flex;
   flex-direction: column;
   max-width: 325px;
   width: 100%;
   
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Логотип и адрес компании */
.footer__address {
   display: block;
   margin-top: 25px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 15px;
   line-height: 30px;
   font-weight: 300;
}

/* Услуги */
.footer__services {
   display: flex;
   justify-content: space-between;
   margin: 0;
   margin-top: 72px;
   padding: 0;

   list-style: none;
}

.footer__services-link {
   font: inherit;

   letter-spacing: 4px;
   color: #fff;
   text-transform: uppercase;
}

/* Социальные сети */
.footer__socials {
   display: flex;
   justify-content: space-between;
   width: 140px;
   margin: 0 auto;
   margin-top: 65px;
   padding: 0;

   list-style: none;
}

.footer__socials-item {
   width: 32px;
   height: 32px;

   opacity: 0.4;
}

.footer__socials-item:hover {
   opacity: 0.8;
}

.footer__socials-item:active {
   opacity: 0.2;
}

/* Личный кабинет и телефон компании */

.footer__user {
   display: flex;
   margin: 0;
   margin-left: auto;
   padding: 0;

   list-style: none;
}

.footer__user li + li {
   margin-left: 63px;
}

.footer__user-btn {
   padding: 0;

   font: inherit;

   color: #fff;

   border: none;
   background-color: transparent;
}

.footer__tel {
   margin-top: 37px;
   margin-left: auto;

   color: #fff;
}

.footer__mini-logo {
   margin-top: 65px;
   margin-left: auto;
}

/* --Страница каталога-- */

/* -Шапка- */
.inner-page .header__inner {
   box-shadow: none;
}

/* -Основной контент- */

/* Хлебные крошки */
.catalog-nav__wrap {
   padding-left: 60px;
}

.catalog-nav__title {
   margin: 0;
   margin-top: 40px;

   font-size: 47px;
   line-height: 48px;
}

.catalog-nav__list {
   display: flex;
   margin: 0;
   margin-top: 30px;
   padding: 0;

   list-style: none;
}

.catalog-nav__list li + li {
   margin-left: 40px;
}

.catalog-nav__link {
   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 24px;
   font-weight: 300;
   color: rgba(0, 0, 0, 0.4);
}

/* Каталог товаров */
.catalog__wrap {
   margin-top: 50px;
}

.catalog {
   display: flex;
}

.catalog__filter {
   max-width: 328px;
   width: 100%;

   background-color: #efefef;
}

.catalog__filter h4 {
   margin: 0;
   padding: 0;
}

.catalog__filter-title-wrap {
   padding: 23px 0 23px 60px;

   background-color: #dcdcdc;
}

.catalog__filter-title {
   font-size: 16px;
   letter-spacing: 3px;
   text-transform: uppercase;
}

/* Фильтр каталого */
.catalog__form {
   padding-left: 60px;
}

.catalog__form-price {
   margin: 0;
   margin-top: 69px;
   padding: 0;
   padding-top: 12px;
}

.catalog__form-color {
   margin-top: 41px;
   padding-top: 12px;
}

.catalog__form-color-menu {
   margin: 0;
   margin-top: 15px;
   padding: 0;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 40px;
   font-weight: 300;

   list-style: none;
}

.catalog__form-color-item {
   padding-left: 40px;
}

.catalog__form-bluetooth {
   margin-top: 30px;
   padding-top: 12px;
}

.catalog__form-bluetooth-menu {
   margin: 0;
   margin-top: 15px;
   padding: 0;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 40px;
   font-weight: 300;

   list-style: none;
}

.catalog__form-bluetooth-item {
   padding-left: 40px;
}

.catalog__form-btn {
   max-width: 200px;
   width: 100%;

   margin-top: 40px;

   background-color: transparent;
}

/* Сортировка и товары */
.catalog__products {
   max-width: 832px;
   width: 100%;
}

/* Сортировка */
.catalog__sort {
   display: flex;
   align-items: baseline;
   padding: 23px 0 23px 72px;

   background-color: #ebebeb;
}

.catalog__sort button {
   padding: 0;
}

.catalog__sort-title {
   margin: 0;
   margin-right: 50px;

   font-size: 16px;
   letter-spacing: 3px;
   text-transform: uppercase;
}

.catalog__sort-list {
   display: flex;
   margin: 0;
   padding: 0;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 18px;
   font-weight: 400;

   list-style: none;
}

.catalog__sort-list li + li {
   margin-left: 30px;
}

.catalog__sort-btn {
   color: rgba(0, 0, 0, 0.4);

   border: none;
   background-color: transparent;
}

.catalog__sort-btn--active {
   color: #000;
}

.catalog__sort-arrows {
   margin-left: auto;
}

/* Товары */
.catalog__products-menu {
   padding: 69px 0 77px 72px;
}

/* Список товаров */
.catalog__products-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 0;
   padding: 0;

   list-style: none;
}

.catalog__products-item {
   max-width: 360px;
   width: 100%;
   margin-bottom: 35px;
}

.catalog__products-name {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   margin-top: 30px;
}

.catalog__products-link {
   color: #000;
}

.catalog__products-price {
   font-family: "Gilroy_Light", "Arial", sans-serif;

   font-size: 16px;
   line-height: 24px;
   font-weight: 300;
   color: rgba(0, 0, 0, 0.4);
}

/* Пагинатор */
.catalog__paginator {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
   padding: 27px 30px;

   background-color: #ebebeb;
}

.catalog__paginator button {
   padding: 0;

   font: inherit;

   font-size: 16px;
   letter-spacing: 3px;
   text-transform: uppercase;

   border: none;
   background-color: transparent;
}

.catalog__paginator-list {
   display: flex;
   margin: 0;
   padding: 0;

   list-style: none;
}

.catalog__paginator-list li + li {
   margin-left: 30px;
}

/* -Модальные окна- */

/* Письмо */
.modal-message__wrap {
   position: fixed;
   left: 50%;
   top: 50%;

   max-width: 960px;
   width: 100%;

   transform: translateX(-50%) translateY(-50%);

   z-index: 1000;
}

.modal-message {
   position: relative;

   max-width: 960px;
   width: 100%;
   padding: 90px 0 80px 0;

   background-color: #fff;
   box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.15);
}

.modal-message p {
   margin: 0;
}

.modal-message__close-btn-wrap {
   position: absolute;
   top: 22px;
   right: 22px;
   
   width: 55px;
   height: 55px;
}

.modal-message__form {
   max-width: 760px;
   width: 100%;
   margin: 0 auto;
}

.modal-message__top-row {
   display: flex;
   justify-content: space-between;
}

.modal-message__bottom-row {
   margin-top: 35px;
}

.modal-message__col {
   display: block;
}

.modal-message__col input,
.modal-message__col textarea {
   margin-top: 10px;
}

.modal-message__col input[type="text"],
.modal-message__col textarea {
   display: block;
   width: 360px;
   padding: 17px 20px;

   font-family: "Open Sans", "Arial", sans-serif;

   font-size: 14px;
   line-height: 18px;
   font-weight: 400;

   border: none;
   background-color: #f2f2f2;
}

.modal-message__col textarea {
   width: 100%;
   height: 155px;
}

.modal-message__submit {
   display: block;
   max-width: 200px;
   width: 100%;
   margin-top: 45px;

   background-color: transparent;
}

/* Карта */
.modal-map__wrap {
   max-width: 960px;
   width: 100%;
   margin: 0 auto;
}
.modal-map {
   max-width: 960px;
   width: 100%;

   box-shadow: 0 20px 20px 5px rgba(0, 0, 0, 0.15);
}